<div class="container-fluid">
  <!-- <div class="row">
    <div class="col-md d-none d-sm-block d-md-none"><h1>Current Trainings</h1></div>
 
  </div> -->
  <div class="row">
    <div class="col-md-6 d-none d-md-block" style="margin-top: 10px">
      <h1>Current Trainings</h1>
    </div>
    <div class="col-md d-md-none">
      <h1>Current Trainings</h1>
    </div>
    <div class="col-md-6 d-none d-md-block">
      <div class="row" style="margin-top: 10px">
        <h1>Available Trainings</h1>
      </div>
      <a class="btn btn-primary" routerLink="../traininginfo/0">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
    </div>

    <div class="col-md-6">
      <ul class="list-group" cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="trainingsInProgress" [cdkDropListConnectedTo]="[notInProgressList]" (cdkDropListDropped)="drop($event)">
        <li class="list-group-item shadow-sm" cdkDrag [ngClass]="{ 'list-group-item-dark': odd }" *ngFor="let training of trainingsInProgress; let odd = odd; let i = index">
          <div class="row">
            <div class="col-md-8">
              {{ training.Name }}
            </div>
            <button (saConfirm)="markComplete(training, i)" type="button" class="col-md btn btn-success float-right">
              Mark Complete
            </button>
          </div>
          <div>
            <label><strong>Progress %:</strong></label>
            <ng5-slider [(value)]="training.PercentageComplete" [options]="sliderOptions"></ng5-slider>
          </div>
        </li>
        <li class="list-group-item shadow-sm" *ngIf="trainingsInProgress.length === 0">No trainings in progress.</li>
      </ul>
    </div>
    <div class="col-md d-md-none" style="margin-top: 10px">
      <div class="row">
        <h1 class="col-xs">Available Trainings</h1>
      </div>
      <a class="btn btn-primary col-xs" routerLink="../traininginfo/0">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
    </div>
    <div class="col-md-6">
      <ul class="list-group" cdkDropList #notInProgressList="cdkDropList" [cdkDropListData]="trainingsNotInProgress" [cdkDropListConnectedTo]="[inProgressList]" (cdkDropListDropped)="drop($event)">
        <li
          *ngFor="let training of trainingsNotInProgress; let odd = odd"
          (cdkDragMoved)="dragging = true"
          (cdkDragReleased)="dragging = false"
          class="list-group-item shadow-sm col-md-8"
          cdkDrag
          [ngClass]="{ 'list-group-item-dark': odd }"
        >
          {{ training.Name }}
          <button (saConfirm)="removeTraining(training.Id)" type="button" class="btn btn-danger float-right" [ngStyle]="{ opacity: dragging ? 0.2 : 1 }">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>
        </li>
        <li class="list-group-item shadow-sm" *ngIf="trainingsNotInProgress.length === 0">No available trainings.</li>
      </ul>
    </div>
  </div>
</div>
